html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --greenwhite: #ccddcc;
  --textGradient: linear-gradient(
    to right,
    #d6b1d3,
    #a0a3de,
    rgb(158, 199, 206)
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--greenwhite);
  background: #28284b;
}

section {
  padding: 4rem 0;
}

.purple {
  color: #b1b2ff;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
}

.gradientText {
  font-size: 2rem;
  background: var(--textGradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 0px;
}
